In [18]:
def printme(str):
    print(str)
    return
printme("go")
printme("stop")

go
stop

In [22]:
def changeme(mylist):
    mylist.append([1,2,3,4])
    print("values inside the function:", mylist)
    return
mylist = [10,20,30]
changeme(mylist)
print("value outside the function:",mylist)

values inside the function: [10, 20, 30, [1, 2, 3, 4]]
value outside the function: [10, 20, 30, [1, 2, 3, 4]]

In [28]:
def changeme(mylist):
    mylist = [1,2,3,4]
    print("values inside the function:", mylist)
    return
mylist = [10,20,30]
changeme(mylist)
print("value outside the function:",mylist)

values inside the function: [1, 2, 3, 4]
value outside the function: [10, 20, 30]

In [54]:
def modify_number(x):
    x = x + 10
    print(x)
    
num = 5
modify_number(num)
print(num)  # Output: 5

510
5

In [56]:

def printme(str):
    print (str)
    return

printme(str = "my string")

my string

In [108]:
def calculate_area(radius):
    pi = 3.14
    float_pi = float(pi)
    area =  float_pi * radius ** 2
    return area;
r_inpt = float(input("enter the value of the radius: "))
area = calculate_area(r_inpt)
print("the area of the circle is: ", area)

enter the value of the radius:  5

the area of the circle is:  78.5

In [123]:
def swap_first_last(my_list):
    x = my_list[0]
    y = my_list[3]
    my_list[0] = y
    my_list[3] = x
    
my_list1 = ['cow','cat','dog','goat']
original = swap_first_last(my_list1)
print(original)

None

In [1]:
def greet(name, greeting = "what's good"):
    greetings = greeting + ", " + name
    return 
name = str(input("enter your name; "))
greet(name)

enter your name;  leeron

In [31]:
def printinfo(name, age):
    print("name: ", name)
    print("age: ", age)
    return 
printinfo(name = "monkey", age = 50);

name:  monkey
age:  50

In [37]:
def printinfo(name, age = 35):
    print("name: ", name)
    print("age: ", age)
    return 
printinfo(name = "monkey", age = 50);
printinfo(name ="monkey");

name:  monkey
age:  50
name:  monkey
age:  35

In [113]:
def printinfo(int_list):
    print ("Output is: ")
    print(int_list)
    for i in range(len(int_list)):
       answer = int_list[i] + 100
       print (answer)
       
value = input("enter 3 values separated by spaces: ")
int_list = [int(x) for x in value.split()]
printinfo(int_list)

enter 3 values separated by spaces:  10 20 30

Output is:
[10, 20, 30]
110
120
130

In [107]:
value = [10,20,30,40,50,60]
for i in range(0,5):
    answer = value[i] + 100
    print (answer)

110
120
130
140
150

In [109]:
nums = input("Enter numbers separated by commas: ")
int_list = [int(x) for x in nums.split(",")]
print(int_list)

Enter numbers separated by commas:  1,2,3,4,5,6

[1, 2, 3, 4, 5, 6]

In [117]:
total = 50
def sum(arg1, arg2):
    total = arg1 + arg2;
    print("inside the function local total : ", total)
    return total;
sum(10,20);
print ("outside the function global total: ", total)

inside the function local total :  30
outside the function global total:  50

In [119]:
def swap(x,y):
    global a
    a = "lawal"
    x,y = y,x
    b = "chris"
    b = "edward"
    c = "lola"
    print(a,b,x,y)
    a = "mary"
swap("tina","tolu")
print(a)

lawal edward tolu tina
mary

In [149]:
words = input('enter a word: ')
def is_palindrome(word): 
    if words[::-1] == words and words[0] == words[-1]:
       print("true")
    else:
       print("false")
    return
is_palindrome(words)

enter a word:  nun

true

In [94]:
num = input("enter a number: ")
num_int = int(num)
find_factors(num_int)
divisor = [0:10]
def find_factors(num_int):
      result = num_int / divisor
      if result % divisor == 0
      print(divisor)

SyntaxError: invalid syntax (4147185767.py, line 4)

In [165]:
divisor = 1
for divisor in range(1,10):
    divisor += 1
    print (divisor)

2
3
4
5
6
7
8
9
10