In [2]:
def foo(a, b):
    return b(a)

print(foo("123", int))

123

In [8]:
x = [1,2,3]
x.append(5)
print(x)

[1, 2, 3, 5]

In [14]:
x = [1, 2, 3]
y = x[:]
y[0] = 99
print(y)

[99, 2, 3]

In [16]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
print(display_info(name="Alice", age=30, city="Lagos"))

name: Alice
age: 30
city: Lagos
None